body {
  
  margin-top: 50px;
  justify-content: center;
  background-color: white;
}
button {
    width: 75px;
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 0px;
    border: thin double #736A6A;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
    -webkit-box-shadow: inset 0px 0px 2px 0px;
}
#uploadForm button {
}


#header {
  padding: 10px;
  color: #1f7c65;
  font-size: 26px;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#20927f;
}
#container {
  width: 800px;
  margin-top: 50px;
  margin-left: 380px;

}
#weekdays {
  width: 100%;
  display: flex;
  color: #000000;
  font-weight: bolder;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  
}
.day {
  width: 100px;
  padding: 20px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(209, 196, 238);
  margin: 5px;
  box-shadow: 0px 0px 3px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(26, 20, 20);
}
.day:hover {
  background-color: #e8faed;
  color: rgb(113, 22, 199);
}

.day + #currentDay {
  background-color:#97ec94;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 100px;
  background-color: rgb(226, 194, 238, 0.8 );
  color: rgb(58, 56, 56);
  box-shadow: 0px 0px 3px rgb(209, 44, 22);
  border-radius: 10px 100px / 120px;
  width: 350px;
  
  word-wrap: break-word;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
  overflow-y: auto;
  overflow-x: auto;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  overflow-x: scroll;
  white-space: initial;
  
  border: #f0a504;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}


#cancelButton, #deleteButton {
  background-color: #393b3a;
}
#saveButton, #closeButton {
  background-color: #393b3a;
}

#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
